<p>debounce works!</p>
<input type="text" #search placeholder="Search"/><br/>
<button mat-button color="primary">Button </button>
<button mat-raised-button color="primary">Button </button>
<button mat-flat-button color="warn">Button </button>
<button mat-stroked-button>Button </button>
<button mat-icon-button>Button </button>
<button mat-fab>Button </button>
<button mat-mini>Button </button>

<div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="20px">
    <button mat-button color="primary">Button </button>
    <button mat-raised-button color="primary">Button </button>
    <button mat-flat-button color="warn">Button </button>
    <button mat-stroked-button>Button </button>
    <button mat-icon-button>Button </button>
    <button mat-fab>Button </button>
    <button mat-mini>Button </button>
</div>
<div fxLayout="row">
    <div fxFlex="20">ABC</div>
    <div fxFlex="50">PQR</div>
    <div fxFlex="">XYZ</div>
</div>
<!--
mat-button	Rectangular text button w/ no elevation
mat-raised-button	Rectangular contained button w/ elevation
mat-flat-button	Rectangular contained button w/ no elevation
mat-stroked-button	Rectangular outlined button w/ no elevation
mat-icon-button	Circular button with a transparent background, meant to contain an icon
mat-fab	Circular button w/ elevation, defaults to theme's accent color
mat-mini-fab	Same as mat-fab but smaller
-->